@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.min-width {
  min-width: -moz-available;
  min-width: -webkit-fill-available;
}

.w-md-editor-toolbar {
  background: transparent;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}